.place__part {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 48px;
}

.place__part:not(:last-of-type) {
  margin-bottom: 48px;
}

@media screen and (max-width: 701px) {
  .place__part {
    flex-direction: column;
  }

  .place__part:not(:last-of-type) {
    margin-bottom: 32px;
  }

}

