.website {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-end;
}

@media screen and (max-width: 701px) {
  .website {
    width: calc(100% - 32px);
    margin: 0 auto;
    align-self: flex-start;
    margin-left: 16px;
  }

}