.place {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.place:not(:last-of-type) {
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .place:not(:last-of-type) {
    margin-bottom: 73px;
  }

}

@media screen and (max-width: 701px) {
  .place:not(:last-of-type) {
    margin-bottom: 50px;
  }

}