.footer {
  margin: 0 auto;
  padding: 92px 48px 24px;
  width: calc(100% - 96px);
  min-height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 134px);
    align-items: flex-start;
    flex-direction: column;
  }
}