.footer {
  margin: 0 auto;
  margin-top: 92px;
  margin-bottom: 24px;
  width: calc(100% - 96px);
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 88px;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 690px) {
  .footer {
    margin-top: 64px;
    min-width: calc(100% - 134px);
    align-items: flex-start;
    flex-direction: column;
  }
}